{% extends "templates/web.html" %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>{{item_name}}</h2>
            <img src="{{item_image}}">
        </div>
        <div class="col my-20">
            <div>
                <h5><b>About</b></h5>
                 {{item_description}}
             </div>
        </div>
        <div class="col my-20">
            <div>
                <h5><b>Price : </b>&#x20b9;{{standard_selling_rate}}</h5>
            </div>

            <div>
                <button type="button" class="btn btn-success btn"><b>Add to Cart</b></button>
            </div>
                
        </div>
    </div>


</div>

{% endblock %}

<!-- this is a sample default web page template -->